:root{
    --color-amarelo:#FFDD58;
    --color-cinza:rgb(39,39,39);
    --color-cinza-enem:rgb(49,49,49);
    --color-branco:white;
    --color-font-roxo: #551a8b;
}

body{
    display: flex;
    background: #FFDD58;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
body * {
    font-family: 'Big Shoulders Display', cursiva;
    text-decoration: none;
}
header{
    width:100%;
    background: var(--color-cinza);
    padding-bottom: 0.5rem;
}
header li{
    text-align: center;
    padding-bottom: 10px;
}
#enem{
    text-align: center;
    background: var(--color-cinza-enem);
    width: 100%;
}
#cenexao{
    padding-top: 0.5em;
    color: var(--color-amarelo);
    font-weight: bold;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}
#enem2{
    color: var(--color-amarelo);
    font-weight: bold;
    font-weight: 900;
    font-size: 80px;
    text-align: center; 
}
#texto3{
    padding-top: 0.5em;
    color: var(--color-font-roxo);
    font-weight: bold;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    text-shadow: 0.01em 0.0em var(--color-cinza);
}
#texto4{
    padding: 15px 0;
    color: var(--color-branco);
    font-weight: bold;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    
}


#volume{
    color: var(--color-font-roxo);
    font-weight:bold;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    padding: 10px 100px 30px 100px;
    
}
#tabelas{
   
    height: 45%;
    width: 500px;
    display: grid;
    background: var(--color-branco);
    margin: 50px 420PX;
    border-radius: 3%;
    
}
#tabela1{
    display:grid;
    grid-template-columns: repeat(3, 2fr);
    padding-bottom: 20px;
}
ul{
    padding-top: 10px;
}
#tabela2{
    background: var(--color-amarelo);
    color: var(--color-font-roxo);
    text-align: center;
    margin: 10px 30px;
    height: 25px;
    width: 100px;
    border-radius: 5%;
    font-weight: bold;
    font-weight: 900;
    cursor: pointer;
    
    
}
#tabela1 :hover{
    background: #ffde589f;
}

footer{
    background:var(--color-cinza-enem);
    height: 100px;
    width: 100%;
    text-align: center;
    
}

#logo2{
    padding: 10px;
           
}
#redes img{
    width: 20px;
    padding: 5px;
}

@media  screen and (max-width:800px) {
    
    #tabelas{
   
        height: 45%;
        width: 390px;
        display: grid;
        background: var(--color-branco);
        border-radius: 3%;
        
    }
    
    #tabela1{
        display:grid;
        grid-template-columns: repeat(2, 3fr);
        padding-bottom: 20px;
    }
    #tabela2{
        background: var(--color-amarelo);
        color: var(--color-font-roxo);
        text-align: center;
        margin: 10px 30px;
        height: 25px;
        width: 130px;
        border-radius: 5%;
        font-weight: bold;
        font-weight: 900;
        cursor: pointer;
        
        
    }
}
@media  screen and (max-width:896) {
    
    #tabelas{
   
        height: 45%;
        width: 390px;
        display: grid;
        background: var(--color-branco);
        border-radius: 3%;
        
    }
    
    #tabela1{
        display:grid;
        grid-template-columns: repeat(2, 3fr);
        padding-bottom: 20px;
    }
    #tabela2{
        background: var(--color-amarelo);
        color: var(--color-font-roxo);
        text-align: center;
        margin: 10px 30px;
        height: 25px;
        width: 130px;
        border-radius: 5%;
        font-weight: bold;
        font-weight: 900;
        cursor: pointer;
        
        
    }
}
